<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type = "text/css" href = "stylesheets/app.css" />
	<title>Tarea prueba</title>
</head>
<body>
   <div class="clasePrueba">  
      <h1>Tarea prueba</h1>  

      <h2>estilos con if</h2>
      <p> este es el listado de caracteristicas</p>
      <a href="http://micampus.ccm.itesm.mx/">Mi Campus</a>  
      <ul class="listado">
         <li>PRueba 1</li>
         <li>tarea 2</li>
         <li>tarea3</li>
         <li>hola mundo</li>
      </ul>
      <p class="listadoHijo">estilos con el hijo</p>
      <p class="estiloVar">estilo variable</p>
   </div>
      <ul class="contenedor">
         <li>Juan 23423</li>
         <li> ruben 53453452</li>
         <li>Rodrigo 1111</li>
      </ul>
	<script src="js/bundle.js"></script>
	<script scr="../node_modules/mustache/mustache.js"></script>
	</body>
</html>